@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: #131313;
    padding: 1rem 8rem;
    z-index: 1000;
}

.navbar .navbar-brand {
    font-size: 1.4rem;
    font-weight: 700;
}

#navbarSupportedContent > ul > li:nth-child(n) > a {
    color: #fff;
    font-size: 1.1rem;
    padding: 0 1rem;
}

#navbarSupportedContent > ul > li:nth-child(n) > a:hover,
#navbarSupportedContent > ul > li:nth-child(n) > a:active {
    color: #E42024;
}

.mid {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.mid video {
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding-top: 75px; */
}

.mid .hero {
    position: relative;
}

.mid .hero h2 {
    font-weight: 700;
}

.mid .hero h2 span {
    color: #E42024;
}

.mid .hero p {
    width: 55%;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    padding-bottom: 1rem;
}

.mid .hero a {   
    font-weight: 600;
    color: #131313;
    background: #fff;
    padding: 0.6rem 2rem;
    border-radius: 30px;
    text-decoration: none;
}

.mid .hero a:hover {
    background: #131313;
    font-weight: 600;    
    color: #fff;
}


    /* ABOUT CSS  */
.about {
    background-color: black;
}

.about .about-child {
    display: flex;
    flex-wrap: wrap;
}

.about .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
    padding-left: 48px;
}

.about .text h6 {
    color: #E42024;
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 1px;
}

.about .text h2 {
    color: #fff;
    font-size: 2.7rem;
    font-weight: 700;
}

.about .text p {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.about .text a {
    font-weight: 600;
    color: #131313;
    background: #fff;
    padding: 0.6rem 2rem;
    border-radius: 30px;
    text-decoration: none;
}

.about .text a:hover {
    background: #fff;
    font-weight: 600;    
    color: #E42024;
}

.collection .heading h2 {
    font-weight: bold;
    color: white;
}

.collection .heading h2 span {
    color: #E42024;
}

.collection .one h5 {
    padding-top: 20px;
    font-weight: bold;
    color: #fff;
}

.collection .one p {
    color: #fff;
}

.collection {
    background-color: black;
}

.collection .collection-child {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 4rem 0;
}


/* OFFER CSS */
    
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
    padding: 0 80px;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner1.jpg");
    min-width: 100%;
    height: 65vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    margin-bottom: 30px;
}

#sm-banner h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

#sm-banner h2 {
    padding-top: 0px;
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}


#sm-banner span {
    color: #e42024;
    font-weight: 800;
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
    padding: 0 80px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner4.jpg");
    min-width: 49%;
    height: 54vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 22px;
    /* margin-right: 28px;  */
}

#banner3 .banner-box3{
    background-image: url("img/banner5.jpg");
}

#banner3 h2 {
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3 {
    color: #e42024;
    font-weight: 800;
    font-size: 15px;
}


/* SHOP CSS */
#product1 {
    text-align: center;
    background-color: #131313;
    padding: 80px 80px;
    margin: -48px 0px;
}

#product1 h2 {
    font-weight: bold;
    color: white;
}
#product1 p {
    color: #e42024;
    font-size: 1.5rem;
}

#product1 .pro-container {
    background-color: #131313;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    flex-wrap: wrap;
}
#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding:10px 12px;
    border: 1px solid #272727;
    background-color: black;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(0, 0, 0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgb(0, 0, 0,0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #fff;
    font-size: 14px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #fff;
    font-size: 14px;
} 

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 18px;
    font-weight: 700;
    color: #e42024;

}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: black;
    font-weight: 500;
    color: #fff;
    border: 1px solid #4a4d4a;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

body > footer {
    background: black!important;
} 

footer .footer-copyright {
    background: #111!important;
}

footer i {
    color: #fff;
}


@media (max-width: 900px) {

    .navbar {
        padding: 1rem 1rem;
    }

    .mid .hero h2 {
        font-weight: 700;
        font-size: 2rem;
    }

    .mid .hero p {
        font-size: 1.2rem;
    }

    .collection {
        height: auto;
    }

    .collection .heading h2 {
        font-size: 2.5rem;
    }

    .collection .one h5 {
        padding: 0 0;
        font-weight: bold;
        color: #fff;
    }

    #product1 .pro-container {
        justify-content: space-around;
    }

    .collection .collection-child .img {
        min-width: 45%;
        height: 50vh;
    }
    
    #sm-banner .banner-box {
        min-width: 100%;
        height: 40vh;
    }

    #banner3 .banner-box {
        width: 28%;
    }

    footer .about {
        display: none;
    }
}



@media (max-width: 477px) {
    #product1 .pro {
        width: 100%;
    }

    .navbar {
        padding: 1rem 1rem;
    }

    .mid {
        padding: 0 20px;
        background-position: 55%;
    }
    
    .mid .hero h2 {
        font-weight: 700;
        font-size: 2rem;
    }

    .mid .hero p {
        font-size: 1.2rem;
    }

    .about {
        width: 100%;
    }

    .about-text {
        padding-bottom: 0;
    }
    .about .about-child {   
        padding: 0 0;
        margin: -20px 0 -160px 0;
    }

    .about .img-fluid {
       display: none;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
        visibility: hidden;
    }

    #banner3 .banner-box {
        padding-top: 150px;
        min-width: 100%;
        height: 30vh;
    }

    #collection {
        height: auto;
    }

    .collection .heading h2 {
        font-size: 2.5rem;
        padding-top: 40px;
    }

    .collection .one h5 {
        padding-top: 20px;
        font-weight: bold;
        color: #fff;
    }

    .collection .collection-child .img {
        min-width: 100%;
        height: 60vh;
    }
}

